@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body{
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: #141517;
    overflow: hidden;
}

#app{
    height: 50px;
    position: relative;
}